

    <form method="post">
        {% csrf_token %}
        <input type="text" name="text">
        <input type="text" name="cow_num">
        <input type="text" name="group">
        <input type="text" name="stats">
        <input type="text" name="carving_num">
        <input type="text" name="age">
        <input type="text" name="empyt_days">
        <input type="text" name="birthday">
        <input type="text" name="sensorID">
        <input type="text" name="estrus_id">
        <input type="text" name="childbirth_id">
        <button type="submit" class="btn btn-primary">POST</button>
    </form>

    <h2>{{ post }}</h2>
